.App {
    margin: 0 auto;
    font-size: 1.5rem;

    --orange-shade: #ff764d;
    --blue-shade: #0000ff;
    --deeper-orange-shade: #FD5948;
    --yellow-shade: #fbffa7;

    display: flex !important;
    flex-direction: column;
    text-align: center;

    min-height: 1100vh;
}


