.App {
    margin: 0 auto;
    font-size: 1.5rem;

    position: absolute;
    left: 0; top: 0;
    right: 0; bottom: 100%;

    --orange-shade: #ff764d;
    --blue-shade: #0000ff;
    --deeper-orange-shade: #FD5948;
    --yellow-shade: #fbffa7;

    display: block;
    text-align: center;

}

header {
    display: flex;
    align-items: center;
    height: 5rem;
    padding: 0 2.5rem;

    border-bottom: solid 2px rgba(0, 0, 0, 0.1);
    background-color: white;
    
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.logo-container {
    width: 3.8rem;
    display: flex;
}

.logo {
    width: auto;
    height: auto;
}
nav ul {
    font-weight: 500;
    text-align: center;
}
nav ul li {
    display: inline-block;
    margin-right: 3rem;
}
nav ul li a:hover {
    color: rgba(0, 0, 0, 0.5);
    transition: .2s;
}

.section-o {
    display: flex;
    gap: 1rem;
    z-index: 2;
}

.section-a {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.section-b {
    display: flex;
    gap: 1rem;
}
.menu-button {
    border: none;    
    display: none;
    background-color: transparent;
    cursor: pointer;

    font-family: "Sofia Sans Extra Condensed", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
}
.menu-arrow-container {
    width: .8rem;
    height: .8rem;
    transform: rotate(180deg);

    display: flex;
}


.More {color: var(--orange-shade); }
.FreeTrial  {
    color: var(--blue-shade);
    font-weight: 400;
}
.Login {font-weight: 400;}




@media screen and (max-width: 1250px) {


    .menu-button {
        display: flex;
        align-items: center;
        gap: .5rem;
    }

    nav ul li a {color: white !important;}
    nav ul li a:hover {color: rgba(0, 0, 0, 0.5) !important;}


    nav {        

        background-color: var(--blue-shade);
        z-index: 1;
        position: fixed;
        left: 0; top: 0;
        height: 100%;

        justify-content: center;
        flex-direction: column;
        align-items:start;
        margin: 0;

        transform: translateY(-100%);
        transition: all .2s;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 0 1.5rem;
        gap: 1rem;

        font-size: 2rem;
    }

    .responsive-nav nav {
        transform: none;
    }
    .responsive-nav .menu-arrow-container {
        transform: rotate(0deg);
    }
}